.list-content {
    position: relative;
  
    width: 18rem;
  
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
  }
  
  .list_item {
    padding: 10px 20px;
  }
  
  .list_item:not(:last-child) {
    border-bottom: 1px solid #dfdfdf;
  }
  
  .list_item:hover {
    background-color: #0f7ffa;
  }
  
  .list_item:hover .list-item-link {
    color: #ffffff;
  }
  
  .list.disabled li.list_item:hover {
    background-color: #ffffff;
  }
  
  .list.disabled li.list_item:hover .list-item-link {
    color: #313d51;
  }
  
  .list-item-link {
    display: block;
    padding: 10px 20px;
    margin: -10px -20px;
  
    color: #313d51;
  }
  
  .list.disabled .list-item-link {
    cursor: auto;
  }